<div class="cadastroEnderecoContainer">
    <section class="addressForm">
        <div class="addressFormBox">
            <h2>Seus endereços</h2>
            <form action="">
                <h4>Endereço residencial</h4>
                <label for="">CEP</label>
                <input type="text" placeholder="00000000, 00000-000">
                <div class="inputsLine">
                    <div>
                        <label for="">Endereço</label>
                        <input class="address" type="text" placeholder="Endereço">
                    </div>
                    <div>
                        <label for="">Número (obrigatório)</label>
                        <input class="number" type="text" placeholder="N° ou S/N">
                    </div>
                </div>
                <label for="">Complemento (opcional)</label>
                <input type="text" placeholder="Apartamento, prédio, casa, unidade, andar...">
                <div class="buttonLine">
                    <p>Ao salvar e continuar, você confirma que mora no endereço acima.</p>
                    <button type="submit">Salvar e continuar</button>
                </div>
            </form>
            <a href=""><img src="/assets/svgs/registerButtonLeftArrow.svg" alt=""></a>
        </div>
    </section>  
</div>