<div class="cadastroTipocontaContainer">
    <section class="accountType">
        <div class="accountTypeBox">
            <h2>Trabalho como</h2>
            <p class="subtitle">Selecione o tipo jurídico do seu negócio</p>
            <div class="types">
                <a href="">
                    <img class="icons" src="/assets/svgs/accountTypeCpf.svg" alt="">
                    <p>Pessoa Física (CPF)<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/accountTypeMei.svg" alt="">
                    <p>Microempreendedor Individual (MEI CNPJ)<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/accountTypeCnpj.svg" alt="">
                    <p class="noBorder">Pessoa Jurídica (CNPJ)<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
            </div>
        </div>
    </section>  
</div>