<div class="cadastroTiponegocioContainer">
    <section class="marketType">
        <div class="marketTypeBox">
            <h2>Categoria de negócio</h2>
            <p class="subtitle">Escolha o que melhor descreve o seu negócio</p>
            <div class="types">
                <a href="">
                    <img class="icons" src="/assets/svgs/marketTypeTaxi.svg" alt="">
                    <p>Táxi / Motorista de App<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/marketTypeTi.svg" alt="">
                    <p>Manutenção de computadores, Serviços de T.I.<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/marketTypeSell.svg" alt="">
                    <p>Venda de Artigos importados (eletrônicos, roupas...)<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/marketTypeStore.svg" alt="">
                    <p>Alimentos / Supermercados / Mercadinhos<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/marketTypeFood.svg" alt="">
                    <p>Fast Food<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/marketTypeClothing.svg" alt="">
                    <p>Moda<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/marketTypeHair.svg" alt="">
                    <p>Salão de beleza / Cabeleireiro / Barbeiro<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/marketTypeEngine.svg" alt="">
                    <p>Oficinas Mecânicas<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/marketTypeMap.svg" alt="">
                    <p>Turismo, Atrações turísticas e Exposições<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <img class="icons" src="/assets/svgs/marketTypeTooth.svg" alt="">
                    <p class="noBorder">Dentista<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
            </div>
            <a href="" class="returnLink"><img src="/assets/svgs/registerButtonLeftArrow.svg" alt=""></a>
        </div>
    </section>  
</div>