<div class="cadastroDadopessoalContainer">
    <section class="personalData">
        <div class="personalDataBox">
            <h2>Dados pessoais</h2>
            <p class="subtitle">Igual ao que está em seu documento de identidade</p>
            <form action="">
                <label for="">Nome completo</label>
                <input type="text">
                <label for="">CPF</label>
                <input type="text">
                <h4>Data de nascimento</h4>
                <div class="date">
                    <div>
                        <label for="">Dia</label>
                        <input type="number" placeholder="DD">
                    </div>
                    <div>
                        <label for="">Mês</label>
                        <input type="number" placeholder="MM">
                    </div>
                    <div>
                        <label for="">Ano</label>
                        <input type="number" placeholder="AAAA">
                    </div>
                </div>
                <div class="buttonLine">
                    <p>Ao salvar e continuar, você confirma que as informações acima são verídicas e correspondem aos dados registrados</p>
                    <button type="submit">Salvar e continuar</button>
                </div>
            </form>
            <a href=""><img src="/assets/svgs/registerButtonLeftArrow.svg" alt=""></a>
        </div>
    </section>  
</div>