<div class="cadastroValidarnegocioContainer">
    <section class="enterpriseValidate">
        <div class="enterpriseValidateBox">
            <h2>Dados comerciais</h2>
            <p class="subtitle">Para que possamos validar o seu registro</p>
            <form action="">
                <label for="">Nome do negócio</label>
                <input class="name" type="text">
                <label for="">Produtos ou serviços oferecidos</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <div class="contactInputLine">
                    <div>
                        <h4>Contato</h4>
                        <label for="">Telefone Comercial</label>
                        <input type="text">
                    </div>
                    <button>Salvar e continuar</button>
                </div>
            </form>
            <a href=""><img src="/assets/svgs/registerButtonLeftArrow.svg" alt=""></a>
        </div>
    </section>  
</div>