<div class="cadastroRendaContainer">
    <section class="monthIncome">
        <div class="monthIncomeBox">
            <h2>Renda mensal</h2>
            <p class="subtitle">Informe a renda aproximada de seu negócio</p>
            <div class="incomes">
                <a href="">
                    <p>Menos de R$ 2000<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <p>R$ 2000 - R$ 4000<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <p>R$ 4000 - R$ 7000<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <p>R$ 7000 - R$ 10000<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <p>R$ 10000 - R$ 20000<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <p>R$ 20000 - R$ 30000<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
                <a href="">
                    <p class="noBorder">Mais de R$ 30000<img src="/assets/svgs/registerRightArrow.svg" alt=""></p>
                </a>
            </div>
            <a href="" class="returnLink"><img src="/assets/svgs/registerButtonLeftArrow.svg" alt=""></a>
        </div>
    </section>  
</div>