<div class="cadastroContainer">
    <section class="singUpForm">
        <div class="singUpFormBox">
            <h2>Registrar-se</h2>
            <p>Já tem uma conta?<a href="/usuario/login">Entrar!</a></p>
            <form action="">
                <label for="">Endereço de e-mail</label>
                <input type="email" placeholder="seuemail@exemplo.com">
                <label for="">Senha</label>
                <div class="passwordInputBox">
                    <input type="password">
                    <img src="/assets/svgs/passwordEye.svg" alt="">
                </div>
                <label for="">CEP da sua empresa</label>
                <div class="cepInputs">
                    <div class="flag">
                        <img src="/assets/imgs/brazilFlag.png" alt="">
                    </div>
                    <input type="text" placeholder="00000000, 00000-000">
                </div>
                <button type="submit">Próximo</button>
            </form>
        </div>
    </section>
</div>