<div class="loginContainer">
    <section class="loginForm">
        <div class="loginFormBox">
            <h2>Minha Conta <span>Pay</span><span class="yellowBrand">Cards</span></h2>
            <p>Não tem uma conta?<a href="/usuario/cadastro">Registre-se!</a></p>
            <form action="">
                <label for="">Endereço de e-mail</label>
                <input type="email" placeholder="seuemail@exemplo.com">
                <label for="">Senha</label>
                <div class="passwordInputBox">
                    <input type="password">
                    <img src="/assets/svgs/passwordEye.svg" alt="">
                </div>
                <button type="submit">Próximo</button>
            </form>
        </div>
    </section>
</div>