<footer>
    <section class="servicesInfo">
        <div class="footerElements">
            <img class="footerBrand" src="/assets/imgs/footerPaycardsBrand.png" alt="">
            <div class="footerLinks">
                <div>
                    <h6>Maquininhas</h6>
                    <a href="">Moderninha PRO 2</a>
                    <a href="">Minizinha CHIP 3</a>
                    <a href="">Moderninha PLUS 2</a>
                </div>
                <div>
                    <h6>Paycards</h6>
                    <a href="">Seja PayCards</a>
                    <a href="">Negocie suas Taxas</a>
                    <a href="">Atendimento por WhatsApp</a>
                    <a href="">Cadastro direto</a>
                </div>
                <div>
                    <h6>Institucional</h6>
                    <a href="">Política de privacidade</a>
                    <a href="">Política de trocas e devoluções</a>
                </div>
            </div>
            <div class="footerSocialMedia">
                <h3>PERMANEÇA CONECTADO</h3>
                <div>
                    <a href=""><img src="/assets/svgs/instagram.svg" alt=""></a>
                    <a href=""><img src="/assets/svgs/youtube.svg" alt=""></a>
                    <a href=""><img src="/assets/svgs/whatsapp.svg" alt=""></a>
                    <a href=""><img src="/assets/svgs/facebook.svg" alt=""></a>
                </div>
            </div>
            <div class="footerFlags">
                <h6>Aceite as principais formas de pagamento</h6>
                <section>
                    <img src="/assets/imgs/visa.png" alt="">
                    <img src="/assets/imgs/elo.png" alt="">
                    <img src="/assets/imgs/hipercard.png" alt="">
                    <img src="/assets/imgs/pix.png" alt="">
                    <img src="/assets/imgs/mastercard.png" alt="">
                </section>
            </div>
        </div>
    </section>
</footer>