<header>
    <section class="menu">
        <img src="/assets/imgs/paycardsBrand.png" alt="">
        <nav>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">LOJA</a></li>
                <li><a href="">TAXAS</a></li>
                <li><a href="">DÚVIDAS</a></li>
            </ul> 
        </nav>
        <a class="buy">Compre Agora</a>
        <a class="login">Login</a>
        <button>
            <img src="/assets/svgs/shopCart.svg" alt="">
        </button>
    </section>
</header>