<div class="newsLineContainer">
    <section class="promotion">
        <div>
            <p>ACABA EM X DIAS! FALTAM XX HORAS!</p>
        </div>
        <p>Maquininha Moderninha Plus por apenas 12x XX!</p>
    </section>
</div>