<div class="homeContainer">
    <section class="hero">
        <img src="/assets/imgs/heroImg.jpg" alt="">
        <div>
            <button>
                <img src="/assets/svgs/arrowLeft.svg" alt="">
            </button>
            <button>
                <img src="/assets/svgs/arrowRight.svg" alt="">
            </button>
        </div>
    </section>
    <section class="courtesy">
        <h1>NOSSA CORTESIA</h1>
        <section>
            <div>
                <h5>ENTREGAMOS HOJE!</h5>
                <img src="/assets/svgs/delivery.svg" alt="">
                <p>Clientes de Maceió escolha a opção de frete "Entrega rápida Mcz" (para compras antes das 15hr)</p>
            </div>
            <div>
                <h5>PAGUE NA ENTREGA!</h5>
                <img src="/assets/svgs/pay.svg" alt="">
                <p>Escolha a forma de pagamento "Pagar na entrega"(Pix, dinheiro, cartão)</p>
            </div>
            <div>
                <h5>NEGOCIE SUAS TAXAS!</h5>
                <img src="/assets/svgs/rates.svg" alt="">
                <p>Negocie com um dos nossos consultores através do WhatsApp!</p>
            </div>
            <div>
                <h5>GARANTIA!</h5>
                <img src="/assets/svgs/guaranteed.svg" alt="">
                <p>5 anos de garantia SAC: 4003-9601</p>
            </div> 
        </section>
    </section>
    <section class="advantages">
        <div class="advantagesBanner">
            <div>
            <img src="/assets/imgs/advantagesLines.png" alt="">
            <img class="maquininha" src="/assets/imgs/moderninhaPro2Advantages.png" alt="">
            </div>
            <article>
            <h1>Seja <span>Pay</span><span class="yellowSpan">Cards</span> e negocie suas taxas!</h1>
            <div>
                <p>VANTAGENS DE SER CLIENTE PAYCARDS:</p>
                <ul>
                    <li>
                        <p>Parcelamento em até 18x</p>
                    </li>
                    <li>
                        <p>Recebimento na hora (apenas para clientes com estabelecimento físico ou loja on-line);</p>
                    </li>
                    <li>
                        <p>Recebimento no dia seguinte (valor cai sempre no dia seguinte no horário da manhã indepedente se é sábado domingo ou feriado);</p>
                    </li>
                    <li>
                        <p>Fature acima de 10mil mensal e tenha acesso direto as menores taxas do mercado;</p>
                    </li>
                    <li>
                        <p>Tentamos cobrir ofertas para clientes de alto faturamento (acima de 100mil mensal);</p>
                    </li>
                    <li>
                        <p>Visitamos sua loja(se for localizado em Maceió-AL) e apresentamos qual taxa se encaixa bem no seu perfil de vendas;</p>
                    </li>
                    <li>
                        <p>Em breve grupo de divulgação para fornecedores e varejistas; </p>
                    </li>
                </ul>
            </div>
            </article>
        </div>
    </section>
    <section class="standouts">
        <div class="standoutsTitle sectionUnderlinedTitle">
            <h1>CONHEÇA OS DESTAQUES</h1>
            <div class="underline"></div>
        </div>
        <section>
            <div class="posElement standoutsElement">
                <div class="off">
                    <span>70%<br>OFF</span>
                </div>
                <img src="/assets/imgs/moderninhaPro2.png" alt="">
                <h6>Moderninha PRO 2</h6>
                <div class="price">
                    <span class="before">R$ 999,00</span>
                    <span class="after">R$ 289,00</span>
                </div>
                <div class="buttons">
                    <button class="spy"><img src="/assets/svgs/eye.svg" alt="">Espiar</button>
                    <button class="buy">Comprar</button>
                </div>
                {{!-- <div class="hoverLogin">
                    <h3>Faça</h3>
                    <button>Login</button>
                    <p>para adquirir sua maquininha!</p>
                </div> --}}
            </div>
            <div class="posElement">
                <div class="off">
                    <span>55%<br>OFF</span>
                </div>
                <img src="/assets/imgs/moderninhaPlus2.png" alt="">
                <h6>Moderninha PLUS 2</h6>
                <div class="price">
                    <span class="before">R$ 999,00</span>
                    <span class="after">R$ 289,00</span>
                </div>
                <div class="buttons">
                    <button class="spy"><img src="/assets/svgs/eye.svg" alt="">Espiar</button>
                    <button class="buy">Comprar</button>
                </div>
            </div>
            <div class="posElement">
                <div class="off">
                    <span>60%<br>OFF</span>
                </div>
                <img src="/assets/imgs/moderninhaChip3.png" alt="">
                <h6>Moderninha CHIP 3</h6>
                <div class="price">
                    <span class="before">R$ 999,00</span>
                    <span class="after">R$ 289,00</span>
                </div>
                <div class="buttons">
                    <button class="spy"><img src="/assets/svgs/eye.svg" alt="">Espiar</button>
                    <button class="buy">Comprar</button>
                </div>
            </div>
        </section>
    </section>
    <section class="rates">
        <div class="ratesTitle sectionUnderlinedTitle">
            <h1>Simule as Taxas de suas Vendas!</h1>
            <div class="underline"></div>
        </div>
        <div class="ratesSimulator">
            <div class="simulator">
                <form action="">
                    <div class="inputsLine">
                        <div class="flag">
                            <label for="">Bandeiras</label>
                            <select name="" id="">
                                <option  value="1">Mastercard & Visa</option>
                            </select>
                        </div>
                        <div class="type">
                            <label for="">Tipo da Venda</label>
                            <select name="" id="">
                                <option  value="1">Parcelado 12x</option>
                            </select>
                        </div>
                    </div>
                    <div class="receiving">
                        <label for="">Recebimento</label>
                        <select name="" id="">
                            <option value="1">1 dia útil</option>
                        </select>
                    </div>
                    <div class="saleAmount">
                        <label for="">Valor da venda</label>
                        <input type="number" name="" id="" placeholder="1000,00">
                        <span>R$</span>
                    </div>
                </form>
                <div class="simulatorResults">
                    <div class="income">
                        <p>VOCÊ RECEBE:</p>
                        <span>R$ XXX,xx</span>
                    </div>
                    <div class="ratesResult">
                        <p>TAXA PARCELADO EM <span>12</span>X:</p>
                        <span class="ratesResultPercentage">11,58%</span>
                    </div>
                    <div class="receivingResult">
                        <p>RECEBIMENTO DE VENDA:</p>
                        <span>1 DIA CORRIDO</span>
                    </div>
                    <button>ESCOLHA SUA MAQUININHA</button>
                </div>
            </div>
        </div>
    </section>
    <section class="flagsSection">
        <h6>Aceite as principais formas de pagamento</h6>
        <section>
            <img src="/assets/imgs/visa.png" alt="">
            <img src="/assets/imgs/elo.png" alt="">
            <img src="/assets/imgs/hipercard.png" alt="">
            <img src="/assets/imgs/pix.png" alt="">
            <img src="/assets/imgs/mastercard.png" alt="">
        </section>
    </section>
    <section class="ratesBanner">
        <img src="/assets/imgs/ratesBannerImg.jpg" alt="">
    </section>
    <section class="socialMedia">
        <h1>PERMANEÇA CONECTADO</h1>
        <section>
            <a href=""><img src="/assets/svgs/instagram.svg" alt=""></a>
            <a href=""><img src="/assets/svgs/youtube.svg" alt=""></a>
            <a href=""><img src="/assets/svgs/WhatsApp.svg" alt=""></a>
            <a href=""><img src="/assets/svgs/facebook.svg" alt=""></a>
        </section>
    </section>
    <section class="bePaycards">
        <div class="bePaycardsBanner">
            <div>
                <h1>O QUE ESTÁ ESPERANDO?<br>VENHA <span class="boldFont">LUCRAR MAIS</span> <span class="bolderFont">NA</span><br><span class="brand">PAY</span><span class="brandYellow">CARDS!</span></h1>
                <button>COMPRE JÁ</button>
            </div>
            <img src="/assets/imgs/maquininhasBePaycards.png" alt="">
        </div>
    </section>
    {{!-- <div class="loginModal">
        <header class="loginModalHeader">
            <img class="logo" src="/assets/imgs/paycardsBrand.png" alt="">
            <img class="close" src="/assets/svgs/closeX.svg" alt="">
        </header>
        <section class="options">
            <p class="singUpP">Quero ser cliente PayCards</p>
            <button class="registerButton">Cadastre-se</button>
            <div class="line"></div>
            <p class="singInP">Já sou cliente PayCards</p>
            <div class="loginOptions">
                <button class="loginButton"><img src="/assets/svgs/.svg" alt="">Login</button>
                <button class="whatsappButton"><img src="/assets/svgs/whatsapp.svg" alt="">WhatsApp</button>
            </div>
        </section>
    </div> --}}
</div>