<section class="maquininhasContainer">
	<section class="searchMachines">
		<section class="filter">
			<input class="searchBar" type="search" placeholder="Pesquisar">
			<section class="filterOptions">
				<h2>Filtrar Por</h1>
				<section class="machines">
					<h3>Marca</h3>
					<div class="firstDiv">
						<input type="checkbox">
						<label for="">Moderninha Plus 2 (x)</label>
					</div>
					<div>
						<input type="checkbox">
						<label for="">Moderninha PRO 2 (x)</label>
					</div>
				</section>
				<div class="prices">
					<h3>Preço</h3>
					<div class="inputs">
						<div class="min">
							<label for="">de</label>
							<input type="number">
						</div>
						<div class="max">
							<label for="">até</label>
							<input type="number">
						</div>
						<img src="/assets/svgs/pricesFilterArrow.svg" alt="">
					</div>
				</div>
			</section>
		</section>
		<section class="posMachines">
			<div class="posElement">
				<div class="off">
					<span>70%<br>OFF</span>
				</div>
				<img src="/assets/imgs/moderninhaPro2.png" alt="">
				<h6>Moderninha PRO 2</h6>
				<div class="price">
					<span class="before">R$ 999,00</span>
					<span class="after">R$ 289,00</span>
				</div>
				<div class="buttons">
					<button class="spy"><img src="/assets/svgs/eye.svg" alt="">Espiar</button>
					<button class="buy">Comprar</button>
				</div>
			</div>
			<div class="posElement">
				<div class="off">
					<span>55%<br>OFF</span>
				</div>
				<img src="/assets/imgs/moderninhaPlus2.png" alt="">
				<h6>Moderninha PLUS 2</h6>
				<div class="price">
					<span class="before">R$ 999,00</span>
					<span class="after">R$ 289,00</span>
				</div>
				<div class="buttons">
					<button class="spy"><img src="/assets/svgs/eye.svg" alt="">Espiar</button>
					<button class="buy">Comprar</button>
				</div>
			</div>
			<div class="posElement">
				<div class="off">
					<span>60%<br>OFF</span>
				</div>
				<img src="/assets/imgs/moderninhaChip3.png" alt="">
				<h6>Moderninha CHIP 3</h6>
				<div class="price">
					<span class="before">R$ 999,00</span>
					<span class="after">R$ 289,00</span>
				</div>
				<div class="buttons">
					<button class="spy"><img src="/assets/svgs/eye.svg" alt="">Espiar</button>
					<button class="buy">Comprar</button>
				</div>
			</div>
		</section>
	</section>
</section>