<section class="maquininhaContainer">
	<section class="machine">
		<section class="properties">
            <h2>VANTAGENS DA<br>MODERNINHA<br><span>PLUS 2</span></h2>
            <section class="propertiesDescription">
                <section class="propertiesIcons">
                    <div class="propertiesElement">
                        <img src="/assets/svgs/chip.svg" alt="">
                        <span>Chip 4G ilimitado</span>
                    </div>
                    <div class="propertiesElement">
                        <img src="/assets/svgs/wifi.svg" alt="">
                        <span>WIFI</span>
                    </div>
                    <div class="propertiesElement">
                        <img src="/assets/svgs/nfc.svg" alt="">
                        <span>Aproximação NFC</span>
                    </div>
                    <div class="propertiesElement">
                        <img src="/assets/svgs/qrCode.svg" alt="">
                        <span>QR Code</span>
                    </div>
                    <div class="propertiesElement">
                        <img src="/assets/svgs/pix.svg" alt="">
                        <span>PIX</span>
                    </div>
                    <div class="propertiesElement">
                        <img src="/assets/svgs/cellphone.svg" alt="">
                        <span>Recarga de Celular</span>
                    </div>
                    <div class="propertiesElement">
                        <img src="/assets/svgs/batery.svg" alt="">
                        <span>Dobro de bateria</span>
                    </div>
                    <div class="propertiesElement">
                        <img src="/assets/svgs/sms.svg" alt="">
                        <span>Comprovante via SMS</span>
                    </div>
                </section>
            </section>
        </section>
        <section class="machinePictures">
            <img class="mainImg" src="/assets/imgs/moderninhaPlus2.png" alt="">
            <section class="otherImgs">
                <img src="/assets/imgs/moderninhaPlus2Info.jpg" alt="">
                <img src="/assets/imgs/moderninhaPlus2.png" alt="">
            </section>
        </section>
        <section class="purchase">
            <h1>MODERNINHA <span>PLUS 2</span></h1>
            <div class="price">
                <span class="before">R$XXX,xx</span>
                <span class="after">R$XXX,xx</span>
            </div>
            <div class="discount">
                <img src="/assets/svgs/ticket.svg" alt="">
                <p><span>2% de desconto</span> pagando com Pagar na Entrega!</p>
            </div>
            <div class="buy">
                <div class="amount">
                    <button class="less"><img src="/assets/svgs/minus.svg" alt=""></button>
                    <input type="number" value="1" >
                    <button class="more"><img src="/assets/svgs/plus.svg" alt=""></button>
                </div>
                <button class="buyButton">COMPRAR</button>
            </div>
            <section class="sending">
                <div class="title">
                    <img src="/assets/svgs/truck.svg" alt="">
                    <span>Meios de envio</span>
                </div>
                <div class="cpf">
                    <input type="text" placeholder="Seu CEP">
                    <button>CALCULAR</button>
                </div>
            </section>
            <section class="shop">
                <div class="title">
                    <img src="/assets/svgs/shop.svg" alt="">
                    <span>Nossa loja</span>
                </div>
                <div class="location">
                    <select name="" id="">
                        <option selected value="1">PayCards - Parte Alta de Maceió</option>
                    </select>
                    <span class="sendingPrice">Grátis</span>
                </div>
            </section>
            <div class="guarantee">
                <img src="/assets/svgs/certified.svg" alt="">
                <div class="description">
                    <h6>Garantia de 5 anos com a PagSeguro</h6>
                    <p>Se você não gostou ou não se convenceu, pode devolver quando quiser.</p>
                </div>
            </div>
        </section>
	</section>
</section>